@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.forward-arr {
  position: relative;
  padding-bottom: 2px;
}

.btn-spl-primary:hover .forward-arr {
  transform: translateX(6px) !important;
  transition: all 0.5s ease-in-out;
}
